.rpcDiv {
    /* background-color: #b1b1b1e7; */
    background-color: white;
    /* border: 5px solid #62757f; */
    padding: calc(var(--funit)*10) calc(var(--funit)*20);
    /* box-shadow: 0px 0px 10px 1px #62757f; */
    /* min-height: fit-content; */
    height: 100vh;
    width: 80vw;
    position: absolute;
    top: 0px;
    left: -80vw;

    display: flex;
    flex-direction: column;

    transition: .5s;
}

.textANDcancel {
    flex: 8%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.resumeText, .projectText, .contactText {
    width: fit-content;
    font-size: calc(var(--funit)*20);
}

.closeButton {
    width: fit-content;
    height: fit-content;
    font-size: calc(var(--funit)*20);
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/* RESUME HOLDERS ----------------------------------------------- */
.resumeHolder {
    flex: 92%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.resumeHolder>embed {
    width: 100%;
    height: 95%;
    min-height: 50vh;
}

.resumeHolder>a {
    text-decoration: none;
    color: black;
    padding: calc(var(--funit)*5);
    font-weight: bolder;
}

.resumeHolder>a:hover {
    border-bottom: calc(var(--funit)*2) solid black;
}

/* CONTACT HOLDERS ----------------------------------------------- */
.contactDiv {
    background-color: #62757f;
    color: white;
}

.contactHolder {
    flex: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactHolder>h3 {
    margin: calc(var(--funit)*10);
    text-align: center;
}

.contactLinksC {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(var(--funit)*10);
}

.contactLinksC>a {
    color: white;
    margin: calc(var(--funit)*10);
    text-decoration: none;
}

.contactLinksC>a>i {
    color: white;
}

/* PROJECT HOLDERS ----------------------------------------------- */
.projectHolder {
    flex: 92%;
    overflow: auto;
}

/* websites ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.websites {
    margin-top: calc(var(--funit)*20);
    border-left: calc(var(--funit)*5) solid #62757f;
}

.websitesTitle {
    font-size: calc(var(--funit)*10);
    background-color: #62757f;
    color: white;
    padding: calc(var(--funit)*10) calc(var(--funit)*20);

    position: sticky;
    top: 0px;
}

.websitesList {
    display: flex;
    flex-direction: column;
}

.wlCardSpace {
    padding: calc(var(--funit)*10);
    margin: calc(var(--funit)*10) 0px;
    border-bottom: calc(var(--funit)*2) solid #62757f;
}

.wlCard {
    width: 100%;
    display: flex;
}

.wlCardImgDiv {
    flex: 40%;
}

.wlCardImgDiv>img {
    width: 100%;
}

.wlCardTextDiv {
    flex: 60%;
    padding: 0px calc(var(--funit)*20);
}

.wlCardTextDiv>h3 {
    font-size: calc(var(--funit)*15);
}

.wlCardTextDiv>p {
    margin: calc(var(--funit)*10) 0px;
    font-size: calc(var(--funit)*10);
}

.wlCardTextDiv>a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: #90a4ae;
    margin: calc(var(--funit)*10) calc(var(--funit)*5);
    padding: calc(var(--funit)*5) calc(var(--funit)*20);
    font-size: calc(var(--funit)*8);
}

.wlCardTextDiv>a:hover {
    background-color: #62757f;
}

/* games ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.games {
    margin-top: calc(var(--funit)*20);
    border-left: calc(var(--funit)*5) solid #62757f;
}

.gamesTitle {
    font-size: calc(var(--funit)*10);
    background-color: #62757f;
    color: white;
    padding: calc(var(--funit)*10) calc(var(--funit)*20);

    position: sticky;
    top: 0px;
}

.gamesList {
    display: flex;
    flex-direction: column;
}

.glCardSpace {
    padding: calc(var(--funit)*10);
    margin: calc(var(--funit)*10) 0px;
    border-bottom: calc(var(--funit)*2) solid #62757f;
}

.glCard {
    width: 100%;
    display: flex;
}

.glCardImgDiv {
    flex: 40%;
}

.glCardImgDiv>img {
    width: 100%;
}

.glCardTextDiv {
    flex: 60%;
    padding: 0px calc(var(--funit)*20);
}

.glCardTextDiv>h3 {
    font-size: calc(var(--funit)*15);
}

.glCardTextDiv>p {
    margin: calc(var(--funit)*10) 0px;
    font-size: calc(var(--funit)*10);
}

.glCardTextDiv>a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: #90a4ae;
    margin: calc(var(--funit)*10) calc(var(--funit)*5);
    padding: calc(var(--funit)*5) calc(var(--funit)*20);
    font-size: calc(var(--funit)*8);
}

.glCardTextDiv>a:hover {
    background-color: #62757f;
}

/* mini ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.mini {
    margin-top: calc(var(--funit)*20);
    border-left: calc(var(--funit)*5) solid #62757f;
}

.miniTitle {
    font-size: calc(var(--funit)*10);
    background-color: #62757f;
    color: white;
    padding: calc(var(--funit)*10) calc(var(--funit)*20);

    position: sticky;
    top: 0px;
}

.miniList {
    display: flex;
    flex-direction: column;
}

.mlCardSpace {
    padding: calc(var(--funit)*10);
    margin: calc(var(--funit)*10) 0px;
    border-bottom: calc(var(--funit)*2) solid #62757f;
}

.mlCard {
    width: 100%;
    display: flex;
}

.mlCardImgDiv {
    flex: 40%;
}

.mlCardImgDiv>img {
    width: 100%;
}

.mlCardTextDiv {
    flex: 60%;
    padding: 0px calc(var(--funit)*20);
}

.mlCardTextDiv>h3 {
    font-size: calc(var(--funit)*15);
}

.mlCardTextDiv>p {
    margin: calc(var(--funit)*10) 0px;
    font-size: calc(var(--funit)*10);
}

.mlCardTextDiv>a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: #90a4ae;
    margin: calc(var(--funit)*10) calc(var(--funit)*5);
    padding: calc(var(--funit)*5) calc(var(--funit)*20);
    font-size: calc(var(--funit)*8);
}

.mlCardTextDiv>a:hover {
    background-color: #62757f;
}

@media (max-width: 600px) {
    .wlCard, .glCard, .mlCard {
        flex-direction: column;
    }

    .wlCardTextDiv, .glCardTextDiv, .mlCardTextDiv {
        padding: 0px calc(var(--funit)*2);
    }
}

@media (max-width: 850px) {
    .rpcDiv {
        position: static;
        width: 100%;
        height: fit-content;
    }

    .closeButton {
        display: none;
    }

    .textANDcancel {
        border-left: 5px solid #62757f;
        padding-left: 10px;
        /* background-color: #c1d5e0; */
    }

    .gc {
        padding: 0%;
        justify-content: center;
    }
}