.mainPage {
  /* border: 1px solid red; */
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  /* background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../images/background.jpg);
    background-position: center;
    background-size: cover; */
}

/* SECTION 1------------------------------------------------------------- */
.sec1 {
  flex: 50%;
  display: flex;
  background-color: #b1b1b17c;
  min-height: 100vh;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.sec1:hover {
  background-color: #c7c7c7a6;
}

.intro {
  /* border: 1px solid red; */
  text-align: center;
}

.intro>p {
  /* border: 1px solid red; */
  font-size: calc(var(--funit)*15);
  margin: calc(var(--funit)*15);
}

.intro>h1 {
  /* border: 1px solid red; */
  font-size: calc(var(--funit)*40);
  margin: calc(var(--funit)*15);
}

.intro>h2 {
  /* border: 1px solid red; */
  font-size: calc(var(--funit)*20);
  margin: calc(var(--funit)*15);
}

/* SECTION 2 ----------------------------------------------------------------  */
.sec2 {
  flex: 50%;
  display: flex;
  flex-direction: column;
  background-color: #b1b1b17c;
  min-height: 100vh;
  height: fit-content;

  align-items: center;
  justify-content: space-evenly;
}

.sec2:hover {
  background-color: #c7c7c7a6;
}

/* SKILLS ----------------------------------------------------------------------- */
.skills {
  flex: 30%;
  width: fit-content;
  /* border: 1px solid red; */
  padding: calc(var(--funit)*15);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills>h2 {
  /* border: 1px solid red; */
  font-size: calc(var(--funit)*20);
  text-align: center;
  margin: calc(var(--funit)*10);
}

.tools {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(var(--funit)*10);
}

.links {
  /* border: 1px solid red; */
  text-decoration: none;
  padding: calc(var(--funit)*2);
  margin: calc(var(--funit)*10) calc(var(--funit)*10);
  text-align: center;
  color: black;
  font-size: calc(var(--funit)*10);
}

.fab {
  font-size: calc(var(--funit)*30);
  color: black;
}

/* BUTTONS -------------------------------------------------------------------------- */
.tabsCon {
  flex: 70%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tabsCon>button {
  /* border: 1px solid red; */
  font-size: calc(var(--funit)*15);
  padding: calc(var(--funit)*7) calc(var(--funit)*10);
  margin: calc(var(--funit)*10);
  outline: none;
  border: none;
  border-radius: calc(var(--funit)*17);
  transition: calc(var(--funit)*3);
}

.tabsCon>button:hover {
  box-shadow: calc(var(--funit)*2) calc(var(--funit)*2) calc(var(--funit)*20) calc(var(--funit)*5) rgb(124, 124, 124);
}

@media (max-width: 850px) {
  .mainPage {
    flex-direction: column;
  }

  .tabsCon {
    display: none;
  }

  .sec1, .sec2 {
    background-color: #c7c7c7a6;
    min-height: fit-content;
    height: fit-content;
  }
}